@font-face {
    font-family: "ze:bauhaus";
    /*font-style: italic;*/
    src: url("zoneecho:css/bauhaus93.ttf");
    font-size: 150px;
}
.background{
    background-image: url("zoneecho:textures/computer/background.png");
    width: 90%;
    height: 95%;
    max-height: 1012px;
    max-width: 1800px;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    border-color: #1F2830;
    border-radius: 10px;
}
.hour{
    width: 25%;
    height: 20%;
    left: 12%;
    top: 5%;
    background-color: #282A30;
    border-radius: 5px;
}
#hour2{
    width: 100%;
    height: 10px;
    left: 0%;
    bottom: 0%;
    background-color: #344350;
}
.hourlabel{
    width: 100%;
    height: 90%;
    left: 50%;
    right: 50%;
    top: 0%;
    text-align: center;
    color: #ffffff;
    font-size: 2%;
    font-family: "ze:bauhaus";
}
.button{
    width: 25%;
    height: 35%;
    bottom: 10%;
    background-color: #282A30;
    border-radius: 2px;
}
.button:hover{
    background-color: #2C2E34;
}
#intranet{
    left: 12%;
}
#bdd{
    right: 12%;
}
.button_bottom{
    width: 100%;
    height: 10px;
    bottom: 0px;
    background-color: #344350;
}
.labelbutton{
    width: 100%;
    text-align: center;
    bottom: 20px;
    height: 20%;
    color: #ffffff;
    font-size: 1%;
    font-family: "ze:bauhaus";
    left: 0%;
}
.icon{
    width: 75px;
    height: 75px;
    left: 50%;
    right: 50%;
    top: 25px;
}
#intranet_icon{
    background-image: url("zoneecho:textures/computer/intranet.png");
}
#bdd_icon{
    background-image: url("zoneecho:textures/computer/bdd.png");
}