@font-face {
    font-family: "zoneecho:mariane2";
    /*font-style: italic;*/
    src: url("zoneecho:css/mariane.ttf");
    font-size: 5%;
}
.left {
    border-radius: 5px;
    background-color: #29333C;
    border: none;
    color: #FFFFFF;
    width: 40%;
    height: 70%;
    left: 15%;
    top: 20%;
}
.right {
    background-color: #36444E;
    border: 6px #28333B internal;
    color: #FFFFFF;
    width: 15%;
    height: 50%;
    left: 55%;
    top: 30%;
}
label {
    color: #FFFFFF;
}
.title {
    top: 10%;
    left: 30%;
    width: 40%;
    height: 5%;
    background-image: url("zoneecho:css/aboutme/title1.png");
}
.title1 {
    top: 5%;
    left: 17%;
    width: 65%;
    height: 5%;
    background-image: url("zoneecho:css/aboutme/title2.png");
}

.job {
    left: 15%;
    top: 25%;
    width: 90%;
}
.skills {
    left: 15%;
    top: 31%;
    width: 90%;
}

.accreditation {
    left: 15%;
    top: 45%;
    width: 90%;
}
.internalClass {
    left: 15%;
    top: 51%;
    width: 90%;
}
.speciality {
    left: 15%;
    top: 60%;
    width: 90%;
}
.spelvl {
    left: 15%;
    top: 66%;
    width: 90%;
}
.render {
    left: 10%;
    top: 10%;
    height: 90%;
    width: 80%;
}
.renderBackground {
    left: 15%;
    top: 15%;
    height: 40%;
    width: 75%;
    background-color: #29333C;
}
.job2 {
    left: 10%;
    top: 85%;
    width: 80%;
    height: 15%;
    text-align: center;
}
.name {
    left: 10%;
    top: 55%;
    width: 80%;
}
.surname {
    left: 10%;
    top: 65%;
    width: 80%;
}
.birth {
    left: 10%;
    top: 75%;
    width: 80%;
}