.main {
    width: 50%;
    height: 70%;
    background-color: #344350;
    left: 25%;
    top: 15%;
}
.content {
    width: 90%;
    height: 80%;
    background-color: #29333C;
    top: 8%;
    left: 5%;
}
.button {
    background-image: none;
    border: none;
    background-color: white;
    color: #344350;
    top: 90%;
    left: 60%;
    width: 35%;
    height: 8%;
}
.delimiter {
    width: 100%;
    height: 100%;
    top: 5%;
    left: 0%;
}
.label {
    color: white;
    background-color: #29333C;
}
.textField {
    background-color: #E7E7E7;
    width: 5%;
    left: 5%;
}
.x1 {
    left: 20%;
    width: 10%;
    background-color: #00A3FF;

}
.y1 {
    left: 31%;
    width: 10%;
    background-color: #00A3FF;

}

.z1 {
    left: 42%;
    width: 10%;
    background-color: #00A3FF;

}

.x2 {
    left: 53%;
    width: 10%;
    background-color: #00A3FF;

}

.y2 {
    left: 64%;
    width: 10%;
    background-color: #00A3FF;

}

.z2 {
    left: 75%;
    width: 10%;
    background-color: #00A3FF;
}
