.panel {
    width: 100%;
    height: 100%;
}
.background {
    background-image: url("zoneecho:textures/pause.png");
    horizontal-position: center;
    vertical-position: center;
    width: 40%;
    height: 60%;
}
.buttonc {
    border: none;
    background-image: none;
    background-color: #313E49;
    border-radius: 3px;
    width: 65%;
    height: 18%;
    top: 10%;
    left: 31%;
}
.buttons {
    border: none;
    background-image: none;
    background-color: #313E49;
    border-radius: 3px;
    width: 65%;
    height: 18%;
    top: 30%;
    left: 31%;
}
.buttond {
    border: none;
    background-image: none;
    background-color: #313E49;
    border-radius: 3px;
    width: 65%;
    height: 18%;
    top: 50%;
    left: 31%;
}

.buttonq {
    border: none;
    background-image: none;
    background-color: #313E49;
    border-radius: 3px;
    width: 65%;
    height: 18%;
    top: 70%;
    left: 31%;
}