@font-face {
    font-family: "zoneecho:arial2";
    /*font-style: italic;*/
    src: url("zoneecho:css/arial.ttf");
    font-size: 100px;
}

.left {
    top: 30%;
    left: 30%;
    width: 20%;
    height: 50%;
    background-color: #313131;
    border: 5px #344350;
}
.right {
    top: 15%;
    left: 45%;
    width: 25%;
    height: 50%;
    background-color: #344350;
}
.creation {
    background-color: red;
}
.security {
    background-image: none;
    background-color: #4D68AC;
    color: #FFFFFF;
    top: 15%;
    height: 20%;
    font-family: "zoneecho:arial2";
}
.medic {
    background-image: none;
    background-color: #923E3E;
    color: #FFFFFF;
    top: 40%;
    height: 20%;
    font-family: "zoneecho:arial2";
}
.scientific {
    background-image: none;
    background-color: #327440;
    color: #FFFFFF;
    top: 65%;
    height: 20%;
    font-family: "zoneecho:arial2";
    text-align: center;
}

button {
    width: 80%;
    left: 10%;
    font-size: 2px;
    text-shadow: disable;
}
.title {
    text-align: center;
    color: #FFFFFF;
    left: 5%;
    width: 70%;
    top: 25%;
    height: 50%;
    font-family: "zoneecho:arial2";
    font-size: 1px;
}